.place__texts {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0 16px;
}

@media screen and (min-width: 700px) {
    .place__texts {
        padding: 0;
    }
}

@media screen and (min-width: 900px) {
    .place__texts {
        gap: 26px;
    }
}